<h1>
    Sign up
</h1>
<form action="/c" method="post">
    <input type="text" name="name" placeholder="name" required>
    <input type="email" name="email" placeholder="email" required>
    <input type="password" name="password" placeholder="password" required>
    <input type="password" name="confirm_password" placeholder="confirm_password" required>
    <button type="submit">sign up</button>
</form>
<p>
    <a href="users/auth/google">
        Google Signin/Signup

    </a>
</p>