<html>
    <head>
        <link rel="stylesheet" href="css/signin.css" type="text/css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">
         <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    </head>
    <body>
    <div id="Signin_page">
     <h1 style="color:orange; margin: 50px;">
          Sign In
     </h1>
     

     <form action="/create-session" method="post">
        <div class="input_form">
        <input type="email" name="email" placeholder="email" required>
        </div>
        <div class="input_form">
        <input type="password" name="password"  placeholder="password" required>
        </div>
        <div class="input_form">
        <input id="signin_button"  type="submit" value="sign in">
        </div>
    </form>
    <p class="google">
        <a href="sign_up" >
            Sign Up
        </a>
    </p>
         <p class="google">
             <a href="users/auth/google">
              Google Signin/Signup
             </a>
        </p>
    </div>
<script>
    <% if(flash.success&&flash.success.length>0){ %>
        new Noty({
          theme:'relax',

      
          text: "<%=flash.success%>",
          type:"success",
          layout:"topRight",
          timeout:1500 //this is in milliseconds

       
      
          }).show();
   <% } %>
   <% if(flash.error&&flash.error.length>0){ %>
        new Noty({
          theme:'relax',

      
          text: "<%=flash.error%>",
          type:"success",
          layout:"topRight",
          timeout:1500 //this is in milliseconds

       
      
          }).show();
   <% } %>
</script>
    </body>
</html>
