<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><%=user.name%></h2>
    <section>
        <h4>Posts</h4>
        <form action="/post/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" required></textarea><br>
            <input type="submit" value="Post">
            
        </form>
    </section>
    <div id="posts-list-container">
        <ul>
           <% for(post of posts){%>
             <li>
                <p>
               <%=post.content%><br>
               <small><%=post.user.name%></small>
                </p>
             </li>

           <%}%>
        </ul>
   </div>
   
    <a href="/signout">SIGN OUT</a>
</body>
</html>
